html, body {	
  width: 100%;
 height: 100%;
 margin: 0px;
 padding: 0px;
}
body{
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
  min-width: 100%;
  width: 100%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	cursor: default;
  overflow: visible;
  min-height: 100%;
 height: auto !important;
 height: 100%;
 position: relative;
}
div{
	margin: 0px;
	padding: 0px;
	border: none;
}
#bod{
	width: 100%;
	min-height: 100%;
	position: relative;
}
#shapka{
  position: relative;
  overflow: hidden;
  width: 100%;
	height: 347px;
}
#shapka2{
  float: left;
  position: absolute;
  width: 456px;
  height: 347px;
  top: 0px;	
}
#shapka3{
  float: right;
  position: absolute;
  left: 456px;
  width: 100%;
  height: 347px;
  top: 0px;	
}
/*****SHAPKA*****/
#logo{
	position: absolute;
  width: 188px;
  height: 106px;
  left: 0px;
  top: 0px;
}
#roza{
  position: relative;
  width: 268px;
  height: 106px;
  left: 188px;
  top: 0px;
  background-image: url(i/roza.gif);
}
#menu{
  position: relative;
  width: 456px;
  height: 241px;
  left: 0px;
  top: 0px;
  background-image: url(i/web-otdel_05.gif);
  vertical-align: top;
}
#redline{
  position: absolute;
  height: 21px;
  min-width: 548px;
  width: 100%;
  left: 0px;
  top: 0px;
  background-image: url(i/redline.gif);
  background-repeat: repeat-x;
  overflow: hidden;
}
#imagec{
  position: absolute;
  height: 278px;
  min-width: 548px;
  width: 100%;
  left: 0px;
  top: 21px;
  background-image: url(i/im.php);
  background-repeat: repeat-x;
  overflow: hidden;
}
#nav{
  position: absolute;
  height: 48px;
  min-width: 548px;
  width: 100%;
  left: 0px;
  top: 299px;
  background-image: url(i/nav.gif);
  background-repeat: repeat-x;
  overflow: hidden;
}
#lineup{
  position: relative;
  width: 100%;
  height: 23px;
  background-color: #E2E2E2;
}
/*****SHAPKA-END*****/
#footer{
  position: relative;
  bottom: 0px; 
  height: 51px;
  width: 100%; 
  background-image: url(i/bottom.gif);
  background-repeat: repeat-x;
  clear: both;
}
#content{
  position: relative;
  width: 100%;
	max-height: 100%;
  margin-bottom: 51px;
  overflow: visible;
	clear: both;	
}
#skaz{
  position: absolute;
  width: 150px;
  height: 89px;
  top: 1px;
  left: 10px;
  font-size: 10px;
  color: #bbbbbb;  
  overflow: hidden;
}
p.nav{
  position: relative;
  margin: 0px;
  padding: 0px;
  padding-left: 25px;
  top: 25px;
  display: block;
  font-size: 10px;
  color: #bbbbbb;
  overflow: visible;   
}
a{
  margin: 0px;
  padding: 0px;
	text-decoration: none;
	cursor: pointer;
	color: Silver;
}
a:hover{
	color: #dd0000;	
	text-decoration: underline;
}
img{
  border: none;
  margin: 0px;
  padding: 0px;
}
#elmenu{
  position: relative;
  width: 280px;
  height: 20px;
  margin-left: 13px; 
  background-image: url(i/backmenu.gif);
  background-repeat: repeat-x;
}
#emenu{ 
  position: relative;
  top: -7px;
  left: 7px;
  font-size: 13px;
  color: Black;
}
#emenu:hover{
  color: #ee0000;
  text-decoration: none;
}
/****MENU****/
#razdel{
  position: absolute;
  left: 308px;
  top: 24px;
  background-color: #D1D1D1;
  width: 134px;
  height: 176px;
  overflow: hidden;
}
#icon{
  position: absolute;
  left: 324px;
  top: 203px;
  background-color: #FFFFFF;
  width: 100px;
  height: 25px;
  overflow: hidden;
}
/****MENU-END****/
/****CONTENT****/
#leftcont{
  display: block;
  float: left;
  width: 50%; 
  overflow: hidden;  
  background-color: #FFFFFF; 
  margin: 0px;
  padding: 0px;
}
p{
  margin: 0px;
  padding: 0px;
}
p.cont{
  margin-left: 35px;
  margin-right: 35px;
  font-size: 12px;
  text-align: left;
  color: #696969;
}
h3{
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
}
#date{
  color: #ee0000;
  font-size: 11px;
  text-align: left;
  margin-left: 35px;
  margin-right: 35px;
}
#dalee{
  color: #ee0000;
  text-align: right;
  font-size: 11px;
  text-decoration: underline; 
  margin-left: 35px;
  margin-right: 35px; 
}
#dalee:hover{
  color: #696969;
  text-decoration: none;
}
#rightcont{
  position: relative;
  display: block;
  width: 49%; 
	float: right;  
  background-color: #FFFFFF; 
  margin: 0px;
  padding: 0px;
}
p.conti{
  margin-left: 15px;
  margin-right: 35px;
	padding-left: 15px;
  font-size: 12px;
  text-align: left;
  color: #696969;
}
#lb{
  margin-left: 15px;
  width: 186px;
  float: left;
}
#rb{
  position: relative;
  margin-right: 35px;
  float: right;
}
#mail{
  color: #ffffff;
}
#mail:hover{
  color: #FFFF00;
  text-decoration: none;
}
/****CONTENT-END****/
a#fot{
  margin: 0px;
  padding: 0px;
	text-decoration: none;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
	cursor: pointer;
	color: White;
}
a#fot:hover{
	color: #FFD7D7;	
	text-decoration: underline;
}
